<i class="fa fa-question-circle fa-2x info-icon"></i>
<div class="info">
  <p>
    Welcome to Coast
  </p>
  <p>Rotate Clockwise: Up/Right Arrow</p>
  <p>Rotate Counter-Clockwise: Down/Left Arrow</p>
  <p>To 'Anchor' a Segment in place and rotate the rest, press and hold the corresponding Arrow, and press the direction you'd like to rotate</p>
</div>
